* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.success {
    color: green;
    font-size: 1rem;

}

.passwordContainer {
    height: 100vh;
}

.Label {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
}

.basicHeading {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}


.backArrow {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.singleLine {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px 0;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
    outline: none;

}