.heading {
	margin: 2rem 0;
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

.labelChange {
	font-size: 0.9rem;
	margin-bottom: 0;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.8);
}

.customButton {
	color: rgba(22, 118, 243, 1);
	background: none;
	border: none;
	box-shadow: none;
	padding: 5px;
	margin: 0;
}


.removeButton {
	cursor: pointer;
	font-family: var(--font);
	background-color: transparent;
	font-size: small;
	color: blue;
	border: none;
	font-weight: 600;
	padding: 5px;
}

.Label {
	margin: 0;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0em;
	text-align: left;
	color: rgba(0, 0, 0, 0.5);
}

.singleLine {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	padding: 5px 0;
	margin: 0;
	background-color: transparent;
	border-radius: 0;
	outline: none;

}